html, body
{
  height: 100%;
  margin: 0;
}

body
{
background: linear-gradient(to right top, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.header
{
	color:white;font-family: 'Dancing Script';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}

#heading{
	color:white;font-family: 'Dancing Script';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}
#msg_button{
	background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	color: white;
}
#msg_button:hover{
	background: linear-gradient(90deg, rgba(253,187,45,1) 0%,rgba(34,193,195,1) 100%);
color:white;
}
.login_div
{
	background: rgba(255,255,255,0.8);float: none;border-radius: 15px;
}

.logo
{
	width: 80px;margin-top: 30px;border-radius: 40px;
}
#welcome_name{
	font-family:'Lemonada'
}
#room{

border-radius: 15px;
	background: linear-gradient(108deg, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
	color: white;
font-family: 'Electolize';
font-size: 20px;
border-color: transparent transparent transparent;
}
#login_button
{
	width: 80%;border-radius: 15px;
background: linear-gradient(108deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
color: white;
font-family: 'Electolize';
}

#login_button:hover
{
	width: 80%;border-radius: 15px;
background: linear-gradient(108deg, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
color: white;
font-family: 'Electolize';
}
.room_name
{
	cursor: pointer;
	font-size: 20px;
}


#logout
{
	font-size: 20px; float: right;
}


#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: white;font-size: 20px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: white
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:grey;
}
.delete{
	margin-left: 20px;
}